<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <img src="~/css/AboutUs.jpg" alt="About Us Image" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Who Are We?
                        </h2>
                    </div>
                    <p>
                        Welcome to It's Rental, where passion meets melody! We are more than just a rental service; we are your gateway to musical exploration. At It's Rental, we understand the power of music to inspire, uplift, and bring joy to people's lives.
                        Our journey began during our school days when a shared love for music brought us together. As friends with a common dream, we envisioned creating a platform that would make quality instruments accessible to all music enthusiasts. Today, that dream is a reality, and we are proud to share our passion with you.
                        Whether you're a seasoned musician or just starting your musical journey, we're here to provide top-notch instruments for your creative expression.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
<!-- info section -->
